.poster {
  /*position: relative;*/
  padding-top: 1em;
  display: flex;
  width:42em;
  /*height: 70%;*/
  img {
    width: 100%;
    margin-bottom: 10px;
  }

  }

.artwork{
  margin-left:5em;
  width: 15em;
}



.poster__title {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}
.movie__info-description{
  display: flex;
margin-top:20px;
  color: white!important;
  height:50%;
  overflow: hidden;
  text-overflow: ellipsis;
}


.movie_info {
  margin-left: 2em;
  width:25%;
  max-height: 100%;
  overflow:hidden;
}
