/* load reset css */
@import 'reset.css';
@import "typography.css";

@import '../components/poster/poster.css';
@import "../views/detail.css";

body {
  background-color: #1a1a1a;
  color: #fff;
}

/*.grid {*/
/*  display: grid;*/
/*  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));*/
/*  grid-gap: 1rem;*/
/*  padding: 1rem;*/
/*}*/

 ul.trendingMovies {
    display: flex;
    gap:6em;
   row-gap: 1em;

  flex-wrap: wrap;
   && li {
     width: 30em;
   }
  }







/*Navbar*/
.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4em;
  display: flex;
  justify-content: space-around;
  background-color: #333; /* achtergrondkleur van de navbar */
  color: white; /* tekstkleur van de navbar */
  border-top-left-radius: 20px; /* Border-radius voor de bovenste linkerhoek */
  border-top-right-radius: 20px; /* Border-radius voor de bovenste rechterhoek */
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
}

.nav-item i {
  margin-bottom: 10px; /* Ruimte tussen het icoon en de tekst */
  margin-top: 10px; /* Ruimte tussen het icoon en de tekst */
}

.navbar a {
  color: white; /* standaard tekstkleur */
  text-decoration: none; /* standaard geen onderstreping */
  transition: color 0.3s; /* soepele overgang voor kleurverandering */
}

.navbar a:hover,
.navbar a:focus {
  color: #ffcc00; /* tekstkleur bij hover en focus */
}


.logo {
  height: 100px;
  width: 100px;
  margin-top: -60px;
  background-color: #333333;
  border-radius: 50%;
  padding: 15px;

}

.genre-poster {
  width:100%;
  height:50px;
  background: #FF5252;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #FF5252 solid;
  border-radius: 10px; /* Hier kun je de gewenste radiuswaarde instellen */
  && h3 {
    text-align: center;
    color: white;
  }
}
a.genre {
  font-size: 1.3em;
  text-decoration: none;
}
.genre-poster:hover {
  background-color: #333333;
  border-color: #333333;
  && h3 {
    color: #ffcc00;
  }
}
