{% layout "layouts/base.liquid" %}

{% block nav %}
<div class="navbar">
  <a href="#" class="nav-item">Home</a>
  <a href="#" class="nav-item">Category</a>
  <a href="#" class="nav-item">Watchlist</a>
  <a href="#" class="nav-item">Search</a>
</div>
{% endblock %}
