{% layout "layouts/base.liquid" %}

{% block content %}
<div class="container">
  <h2 class="divTitle">Category</h2>
    <ul class="catagories">
      {% for name in genreData %}
        <li>
          <a class="genre" href="/catagory/{{ name.id }}">
            {% render 'components/poster/genre.liquid', name: name.name %}
          </a>
        </li>
      {% endfor %}
    </ul>
</div>
{% endblock %}
