{% layout "layouts/base.liquid" %}

{% block content %}

<div class="container">
  <h2 class="divTitle">Trending movies</h2>
  <ul class="trendingMovies">
    {% for movie in trendingmovieData.results %}
      {% if movie.original_title %}
        {% assign mov = movie.original_title %}
      {% else %}
        {% assign mov = movie.name %}
      {% endif %}
      <li class="item loaded">
        <a href="/movie/{{ movie.id }}">
          {% render 'components/poster/poster.liquid', movie: movie %}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
