{% layout "layouts/base.liquid" %}
{% comment %}{% layout "src/index.css" %}{% endcomment %}


{% block content %}
<h2>Welkom bij MovieFlix</h2>
<ul class="grid">
  {% for movie in movieData.results %}
    {% if movie.original_title %}
      {% assign mov = movie.original_title %}
    {% else %}
      {% assign mov = movie.name %}
    {% endif %}
    <li>
      <a href="/movie/{{ movie.id }}">
        {% render 'components/poster/poster.liquid', movie: movie %}
      </a>
    </li>
  {% endfor %}
</ul>
{% endblock %}
