{% layout "layouts/base.liquid" %}

{% block content %}
<div class="container">
  <h2 class="divTitle">Watchlist</h2>
  <ul class="trendingMovies">
    {% for movie in movie %}
      <li>
        <a href="/movie/{{ movie.id }}">
          {% render 'components/poster/poster.liquid', movie: movie %}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
